<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>2FA Verification</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<div class="container">
  <h1>2FA Verification</h1>
  <p>Please enter the code from your Google Authenticator app.</p>
  <form th:action="@{/lgsApp/v1/auth/validate2FA}" th:object="${validateCodeDto}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required>
    <label for="verificationCode">Code:</label>
    <input type="text" id="verificationCode" th:field="*{verificationCode}" required>
    <input type="submit" value="Verify" class="button">
  </form>
</div>
</body>
</html>
